{% extends "base.html" %}
{% load static %}
{% load analysis_tags %}
{% block content %}

<div class="flex-nav">
    {% include "analysis/pages/nav-sidebar.html" %}
    <section class="flex-nav__body cuckoo-analysis" tabindex="0">

        <header class="page-header cuckoo-analysis__header">
            <h1> Graph Analysis </h1>
        </header>

        <pre id="result" hidden>"{{report.analysis.graph}}"</pre>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabbable tabs" id = "graph-container2">
                        <iframe id="graph-frame2" src="" width="203.5%" height="800" style="border:none;">
                        </iframe>
                    </div> 
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="tabbable tabs" id = "graph-container">
                        <iframe id="graph-frame" src="" width="203.5%" height="800" style="border:none;">
                        </iframe>
                    </div> 
                </div>
            </div>
        </div>

        <!-- footer replacement to avoid double scrollbars -->
        <footer class="flex-grid__footer center-left">
            <p class="footnote">
                &copy;2010-2017 <a href="http://www.cuckoosandbox.org" target="_blank">Cuckoo Sandbox</a>
            </p>
            <div class="logo">
                <img src="{% static "graphic/cuckoo_inverse.png" %}" alt="Cuckoo Malware Analysis Sandbox" />
                <a href="#">Back to Top</a>
            </div>
        </footer>

    </section>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var resultElement = document.getElementById("result");
        var graphFrame = document.getElementById("graph-frame");
        var graphPath = resultElement.textContent;
        var graphSegments = graphPath.split("/");
        var modifiedPath = "/static" + "/" + graphSegments[5] + "/" + graphSegments[6] + "/" + graphSegments[7] + "/" + graphSegments[8];

        modifiedPath = modifiedPath.replace(/"$/, ""); // Remove trailing quotation mark

        graphFrame.src = modifiedPath;
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        
        var resultElement2 = document.getElementById("result");
        var graphFrame2 = document.getElementById("graph-frame2");
        var graphPath2 = resultElement2.textContent;
        var graphSegments2 = graphPath2.split("/");
        var modifiedPath2 = "/static/analyses" + "/" + graphSegments2[6] + "/" + "files/parse_graph.html";

        modifiedPath2 = modifiedPath2.replace(/"$/, ""); // Remove trailing quotation mark

        graphFrame2.src = modifiedPath2;
    });
</script>

{% endblock %}

